.page-content {
  // .page-content__basket
  &__basket {
    margin-top : 60px;

    @media screen and (max-width : 1023px) {
      margin-top : 20px;
    }

  }
}

.basket-page {
  // .basket-page__list
  &__list {
  }
}

.basket-list {
  // .basket-list__inner
  &__inner {
  }

  // .basket-list__item
  &__item {
    margin-bottom : 5px;
  }

  // .basket-list__footer
  &__footer {
    margin-top : 35px;

  }

  // .basket-list__btn
  &__btn {
    display     : block;
    margin-top  : 30px;
    margin-left : auto;


    @media screen and (max-width : 1023px) {

      margin-right : auto;
    }
  }
}


.item-basket-list {
  font-size       : 14px;
  line-height     : 1.2857;
  position        : relative;
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  box-sizing      : border-box;
  padding         : 5px 0 5px 0;
  border-top      : 1px solid #e5e5e5;


  &:last-child {
    border-bottom : 1px solid #e5e5e5;
  }


  // .item-basket-list__wrapper
  &__wrapper {
    display       : flex;
    align-items   : center;
    min-width     : 380px;
    margin-right  : auto;
    padding-right : 15px;


  }


  // .item-basket-list__image
  &__image {
    flex         : 0 0 77px;
    width        : 77px;
    max-height   : 74px;
    margin-right : 22px;

  }

  // .item-basket-list__info
  &__info {


  }

  // .item-basket-list__name
  &__name {
    font-weight     : 500;
    display         : block;
    max-width       : 130px;
    margin-right    : 80px;
    text-decoration : none;
    color           : $mainFontColor;


  }

  // .item-basket-list__props
  &__props {
    margin-top : 3px;
  }

  // .item-basket-list__price
  &__price {
    font-weight : bold;
    margin      : 0 auto;
    padding     : 0 15px;
    white-space : nowrap;

    @media screen and (max-width : 1023px) {
      display : none;
    }
  }

  // .item-basket-list__price-total
  &__price-total {
    font-weight : bold;
    text-align  : right;
    white-space : nowrap;


    @media screen and (max-width : 1023px) {

    }
    @media screen and (max-width : 767px) {
      margin : 20px 0 0 80px;
    }
  }

  // .item-basket-list__footer
  &__footer {
    flex         : 0 0 auto;
    margin-left  : 60px;
    padding-left : 15px;

    @media screen and (max-width : 1023px) {

    }

    @media screen and (max-width : 767px) {
      position : absolute;
      right    : 15px;
      bottom   : 15px;
    }
  }

  // .item-basket-list__delete
  &__delete {
    flex : 0 0 19px;
  }

  // .item-basket-list__qty
  &__qty {
    margin  : 0 auto;
    padding : 0 15px;

    @media screen and (max-width : 1023px) {

    }

    @media screen and (max-width : 767px) {
      margin : 20px 0 0 80px;
    }
  }

}

.item-basket-list:first-child {

  @mixin basket-table-headers {
    font-style  : normal;
    position    : absolute;
    top         : -30px;
    display     : block;
    font-weight : 500;
    font-size   : 14px;
    line-height : 1.2857;


    @media screen and (max-width : 1023px) {
      display : none;
    }
  }


  // .item-basket-list__image
  .item-basket-list__image {
    &::before {
      content : 'Фото';
      @include basket-table-headers;

    }
  }

  // .item-basket-list__info
  .item-basket-list__info {

    &::before {
      content : 'Наименование';
      @include basket-table-headers;
    }
  }

  // .item-basket-list__props
  .item-basket-list__props {
    &::before {
      content : 'Характеристики';
      @include basket-table-headers;
    }
  }


  // .item-basket-list__qty
  .item-basket-list__qty {

    &::before {
      content : 'Количество';
      @include basket-table-headers;
    }
  }

  // .item-basket-list__price
  .item-basket-list__price {

    &::before {
      content : 'Цена, ₽';
      @include basket-table-headers;
    }

  }

  // .item-basket-list__price-total
  .item-basket-list__price-total {

    &::before {
      content : 'Стоимость, ₽';
      @include basket-table-headers;
    }
  }

}


.props-item-basket-list {
  // .props-item-basket-list__item
  &__item {
  }
}

.prop-item-basket-list {
  display : block;


  // .prop-item-basket-list__name
  &__name {
  }

  // .prop-item-basket-list__value
  &__value {
  }
}

.prices-item-basket-list {
  // .prices-item-basket-list__price
  &__price {
  }
}
