.contacts-page {
  // .contacts-page__inner
  &__inner {
    display     : flex;

    @media screen and (max-width : 1023px) {
      flex-direction : column;
    }

  }

  // .contacts-page__panel
  &__panel {

  }

  // .contacts-page__block
  &__block {
    margin-bottom : 60px;
  }

  // .contacts-page__ural
  &__ural {
  }

  // .contacts-page__form
  &__form {
    margin-top : 85px;
  }

}

.panel-contacts {
  // .panel-contacts--left
  &--left {
    margin-right : 30px;
    flex: 1 1 auto;

    @media screen and (max-width : 767px) {
      margin-right : 0;
    }
  }

  // .panel-contacts--right
  &--right {
    flex: 0 0 630px;
  }

  // .panel-contacts__title
  &__title {
    font-size     : 18px;
    font-weight   : bold;
    line-height   : 1.11;
    margin-bottom : 25px;

  }

  // .panel-contacts__inner
  &__inner {

  }

  // .panel-contacts__map
  &__map {
    height : 500px;
  }

  // .panel-contacts__props
  &__props {
    margin-top : 45px;
  }
}

.contacts-block {
  // .contacts-block__title
  &__title {

    font-size   : 20px;
    font-weight : bold;
    line-height : 25px;
    color       : #252b33;

  }

  // .contacts-block__inner
  &__inner {
    display   : flex;
    flex-wrap : wrap;

    margin    : 25px -10px 0;
  }

  // .contacts-block__item
  &__item {
    flex      : 1 1 calc(100% / 2 - 20px);
    min-width : 260px;
    margin    : 0 10px 40px;
  }

  // .contacts-block__text
  &__text {

    font-size   : 13px;
    line-height : 1.23;

  }

  // .contacts-block__post
  &__post {

  }
}

.contact-item {
  display : flex;

  // .contact-item__inner
  &__inner {


  }

  // .contact-item__title
  &__title {
    font-weight : bold;
  }
}

.ural-contact {
  // .ural-contact__link
  &__link {
    font-weight : bold;
  }

  // .ural-contact__item
  &__item {
    max-width  : 260px;
    margin-top : 15px;
  }
}

.form-contacts {

  //.form-contacts__title
  &__title {
    font-size   : 30px;
    font-weight : bold;
    line-height : 1.2666;
    color       : #252b33;
  }
}




.contacts-props {
  // .contacts-props__title
  &__title {
    font-size      : 20px;
    font-weight    : bold;
    line-height    : 25px;
    text-transform : uppercase;
    color          : #252b33;
  }

  // .contacts-props__inner
  &__inner {
    margin-top : 20px;
  }

  // .contacts-props__item
  &__item {
    font-size   : 13px;
    line-height : 18px;
    margin-top  : 15px;
    color       : #252b33;
  }
}


.shops-block {
  //.shops-block__inner
  &__inner {
    display   : flex;
    flex-wrap : wrap;
    margin    : 0 -10px 0;
  }

  // .shops-block__item
  &__item {
    flex      : 1 1 calc(100% / 2 - 20px);
    min-width : 260px;
    margin    : 0 10px 40px;
  }

}

.shop-block {
  // .shop-block__title
  &__title {
    font-size   : 20px;
    font-weight : bold;
    line-height : 25px;
    color       : #252b33;
  }

  // .shop-block__inner
  &__inner {
    margin-top : 20px;
  }

  // .shop-block__item
  &__item {
    margin-bottom : 20px;
  }
}


