.main-page {
  // .main-page__catalog
  &__catalog {
    margin-top : 90px;
  }

  // .main-page__write-us
  &__write-us {
    width       : 100vw;
    margin-left : calc((100vw - #{$desktopWidth} + 30px) / -2);

    @media screen and (max-width : 1280px) {
      margin-left : -15px;
    }

  }

  // .main-page__repair-documentation
  &__repair-documentation {
    margin-top : 110px;

    @media screen and (max-width : 1140px) {
      margin-top : 100px;
    }
    @media screen and (max-width : 560px) {
      margin-top : 40px;
    }
  }

  // .main-page__about
  &__about {
    margin-top : 100px;

    @media screen and (max-width : 560px) {
      margin-top : 75px;
    }
  }

  // .main-page__advantages
  &__advantages {
    margin-top : 80px;
  }

  // .main-page__forgery
  &__forgery {
    width       : 100vw;
    margin-top  : 70px;
    margin-left : calc((100vw - #{$desktopWidth} + 30px) / -2);

    @media screen and (max-width : 1280px) {
      margin-left : -15px;
    }
  }

  // .main-page__filter
  &__filter {
    position : relative;
    z-index  : 1;
    top      : -390px;
    height   : 0;

    @media screen and (max-width : 660px) {
      top      : -340px;
    }
  }

}

.catalog-categories {
  // .catalog-categories__title
  &__title {
    font-size      : 30px;
    font-weight    : bold;
    line-height    : 1.2666;
    text-transform : uppercase;
    color          : #252b33;
  }

  // .catalog-categories__inner
  &__inner {
    display    : flex;
    flex-wrap  : wrap;
    margin-top : 60px;

    @media screen and (max-width : 992px) {
      justify-content : center;
      margin          : 0 -15px;
    }

    @media screen and (max-width : 560px) {
      margin : 0 -4px;
    }


  }

  // .catalog-categories__item
  &__item {
    flex          : 1 1 calc(100% / 4);
    min-width     : 250px;
    max-width     : 320px;
    margin-bottom : 60px;

    @media screen and (max-width : 992px) {
      min-width : 0;
      max-width : 220px;
      margin    : 0 15px 30px;
    }

    @media screen and (max-width : 660px) {
      flex   : 1 1 calc(100% / 2 - 8px);
      margin : 0 4px 30px;
    }

  }
}

.item-category {
  text-decoration : none;

  // .item-category__image
  &__image {
    display         : flex;
    align-items     : center;
    justify-content : center;
    min-height      : 226px;

    @media screen and (max-width : 560px) {
      min-height : 140px;
    }
  }

  // .item-category__title
  &__title {
    font-size   : 16px;
    font-weight : 500;
    line-height : 1.12;
    margin-top  : 20px;
    text-align  : center;
  }
}


.write-us-block {

  padding          : 40px 0;
  background-color : #1568a4;

  @media screen and (max-width : 1140px) {
    padding : 100px 0;
  }
  @media screen and (max-width : 560px) {
    padding : 15px 0 60px;
  }

  // .write-us-block__description
  &__description {
    flex         : 0 0 400px;
    max-width    : 400px;
    margin-right : 240px;

    @media screen and (max-width : 1140px) {
      flex-basis   : 100%;
      max-width    : none;
      margin-right : 0;
    }
  }

  // .write-us-block__form
  &__form {
    flex : 0 0 410px;

    @media screen and (max-width : 1140px) {
      max-width : 480px;
      margin    : 87px auto 0;
    }

    @media screen and (max-width : 1140px) {
      margin-top : 40px;
    }
  }

  // .write-us-block__container
  &__container {
    display : flex;

    @media screen and (max-width : 1140px) {
      flex-direction : column;
    }
  }
}

.description-write-us {
  color : #fff;

  @media screen and (max-width : 1140px) {
    display : flex;
  }

  @media screen and (max-width : 560px) {

  }


  // .description-write-us__icon
  &__icon {
    flex-shrink : 0;

    @media screen and (max-width : 1140px) {
      margin-right : 47px;
    }
    @media screen and (max-width : 560px) {
      max-width    : 87px;
      margin-right : 15px;
    }
  }

  // .description-write-us__title
  &__title {
    font-size   : 15px;
    font-weight : bold;
    line-height : 1.2;
    margin-top  : 50px;

    @media screen and (max-width : 560px) {
      margin-top : 0;
    }
  }

  // .description-write-us__text
  &__text {
    font-size   : 13px;
    line-height : 1.3846;


    p {
      font : inherit;
    }
  }
}

.form-write-us {
  // .form-write-us__title
  &__title {
    font-size      : 30px;
    font-weight    : bold;
    line-height    : 1.2666;
    letter-spacing : 0.05em;
    color          : #fff;

    @media screen and (max-width : 560px) {
      font-size   : 24px;
      line-height : 1.25;
    }
  }

  // .form-write-us__inner
  &__inner {
  }

  // .form-write-us__btn
  &__btn {
    font-size      : 12px;
    font-weight    : bold;
    line-height    : 1.25;
    margin-top     : 1px;
    padding        : 20px 60px;
    text-transform : uppercase;
    color          : #fff;
    border-color   : #fff;

    &:hover {
      color            : $mainColor;
      background-color : #fff;
    }
  }
}


.repair-documentation {
  // .repair-documentation__header
  &__header {
    display         : flex;
    align-items     : center;
    justify-content : space-between;

    @media screen and (max-width : 992px) {
      display   : block;
      max-width : 540px;
    }
  }

  // .repair-documentation__title
  &__title {
    font-size      : 30px;
    font-weight    : bold;
    line-height    : 1.2666;
    letter-spacing : 0.05em;
    color          : #252b33;

    @media screen and (max-width : 560px) {
      font-size   : 24px;
      line-height : 1.25;
    }
  }

  // .repair-documentation__search
  &__search {
    flex : 0 1 413px;

    @media screen and (max-width : 992px) {
      margin-top : 30px;
    }

  }

  // .repair-documentation__inner
  &__inner {
    display    : flex;
    flex-wrap  : wrap;
    margin-top : 30px;

    @media screen and (max-width : 560px) {
      display : block;
    }
  }

  // .repair-documentation__item
  &__item {
    flex : 1 1 calc(100% / 3);
  }
}

.item-repair-documentation {
  text-decoration : none;

  // .item-repair-documentation__image
  &__image {
    display         : flex;
    align-items     : center;
    justify-content : center;
  }

  // .item-repair-documentation__title
  &__title {
    font-size   : 16px;
    font-weight : 500;
    line-height : 1.12;
    margin-top  : 20px;

    @media screen and (max-width : 560px) {
      text-align  : center;
      white-space : nowrap;

      > br {
        display : none;
      }
    }

  }
}


.search-repair-documentation {
  position : relative;


  // .search-repair-documentation__field
  &__field {
    font-size        : 12px;
    line-height      : 1.25;
    box-sizing       : border-box;
    width            : 100%;
    padding          : 12px 18px 12px 45px;
    border           : 1px solid #e5e5e5;
    border-radius    : 10px;
    background-color : #f4f4f4;


  }

  // .search-repair-documentation__btn
  &__btn {
    position : absolute;
    top      : 12px;
    left     : 18px;
  }
}


.about-block {
  display : flex;
  color   : #252b33;

  @media screen and (max-width : 660px) {
    display : block;
  }

  // .about-block__image
  &__image {
    flex         : 0 0 331px;
    margin-right : 100px;

    @media screen and (max-width : 1140px) {
      margin-right : 40px;
    }

    @media screen and (max-width : 660px) {
      margin-right : 0;
    }
  }

  // .about-block__content
  &__content {

    @media screen and (max-width : 660px) {
      margin-right : 0;
      margin-top : 25px;
    }

  }

  // .about-block__title
  &__title {
    font-size      : 30px;
    font-weight    : bold;
    line-height    : 1.2666;
    margin-top     : 0;
    text-transform : uppercase;
  }

  // .about-block__text
  &__text {
    font-size   : 15px;
    line-height : 1.2;
    margin-top  : 25px;
  }
}

.advantages-block {
  // .advantages-block__inner
  &__inner {
    display : flex;

    @media screen and (max-width : 660px) {
      display : block;
    }

  }

  // .advantages-block__item
  &__item {
    flex         : 1 1 calc(100% / 3);
    margin-right : 120px;

    @media screen and (max-width : 1140px) {
      margin-right : 30px;

      @media screen and (max-width : 660px) {
        margin-right : 0;
        margin-bottom : 50px;
      }
    }

    &:last-child {
      margin-right : 0;

      @media screen and (max-width : 660px) {
        margin-bottom : 50px;
      }
    }

  }
}

.item-advantage {
  color : #252b33;

  // .item-advantage__icon
  &__icon {
    width  : 97px;
    height : 97px;

    @media screen and (max-width : 660px) {
      width  : auto;
      height : auto;
    }
  }

  // .item-advantage__title
  &__title {
    font-size   : 15px;
    font-weight : bold;
    line-height : 1.2;
    margin-top  : 10px;
    color       : #252b33;
  }

  // .item-advantage__text
  &__text {
    font-size   : 13px;
    line-height : 1.38;
    margin-top  : 15px;
  }
}


.forgery-information {
  font-size         : 15px;
  line-height       : 1.2666;
  padding           : 80px 0 60px;
  color             : #fff;
  background-color  : #7a8695;
  background-image  : url(../../img/forgery.png);
  background-repeat : no-repeat;

  @media screen and (max-width : 1280px) {
    background-position : -450px 0;
  }

  @media screen and (max-width : 560px) {
    background-position: 0 -90px;
    padding-top: 170px;
    padding-bottom : 27px;
  }



  // .forgery-information__inner
  &__inner {
    padding-left : 470px;

    @media screen and (max-width : 1280px) {
      padding-left : 260px;
    }

    @media screen and (max-width : 560px) {
      padding-left : 15px;
    }
  }
}


.main-page-filter {

  // .main-page-filter__inner
  &__inner {
    margin-top : 25px;
  }

  // .main-page-filter__title
  &__title {
    font-size      : 36px;
    font-weight    : bold;
    line-height    : 1.25;
    margin         : 0 15px;
    text-align     : center;
    text-transform : uppercase;
    color          : #fff;

    @media screen and (max-width : 768px) {
      font-size   : 30px;
      line-height : 1.2666;
      margin      : 0 15px;
    }

    @media screen and (max-width : 660px) {
      display : none;
    }
  }

  // .main-page-filter__form
  &__form {
  }

  // .main-page-filter__btn
  &__btn {
    padding : 19px 75px;

    @media screen and (max-width : 900px) {
      margin : 15px 25px;
    }

    @media screen and (max-width : 660px) {
      margin: 15px auto;
      display: block;
      width: 100%;
      max-width: 230px;
    }

    &:hover {
      color            : #fff;
      background-color : #034c80;
    }


  }
}

.form-main-page-filter {
  // .form-main-page-filter__row
  &__row {
    justify-content : center;

    @media screen and (max-width : 660px) {
      display : block;
    }
  }

  // .form-main-page-filter__col
  &__col {

    @media screen and (max-width : 660px) {
      margin : 13px auto;
      max-width : 250px;

    }

    // .form-main-page-filter__col--model
    &--model {
      flex-basis : 305px;

      @media screen and (max-width : 1140px) {
        flex-basis : auto;
      }
    }

    // .form-main-page-filter__col--date
    &--date {
      flex-basis : 196px;

      @media screen and (max-width : 1140px) {
        flex-basis : auto;
      }
    }

    // .form-main-page-filter__col--number
    &--number {
      flex-basis : 305px;

      @media screen and (max-width : 1140px) {
        flex-basis : auto;
      }
    }
  }
}


