.order-page {
  // .order-page__product-list
  &__product-list {
  }
}

.order-product-list {
  font-size   : 14px;
  line-height : 1.29;
  width       : 1000px;


  // .order-product-list__inner
  &__inner {
    display    : table;
    width      : 100%;
    margin-top : 35px;
  }

  // .order-product-list__item
  &__item {
    display : table-row;

    > * {
      display        : table-cell;
      padding        : 5px;
      vertical-align : middle;
      border-bottom  : 1px solid #e5e5e5;
    }
  }

  // .order-product-list__header
  &__header {
    display     : flex;
    align-items : flex-end;
  }


  // .order-product-list__title
  &__title {
    font-size   : 20px;
    font-weight : bold;
    line-height : 1;
    color       : #252b33;

  }

  // .order-product-list__status {
  &__status {
    margin-left : 30px;
    color       : #04914d;
  }

  // .order-product-list__expected {
  &__expected {
    margin-left : 55px;

    > span {
      font-weight : 500;
    }

  }


  // .order-product-list__actions
  &__actions {
    display         : flex;
    justify-content : center;
    margin          : 30px -6px 0;
  }

  // .order-product-list__action
  &__action {
    margin : 0 6px;
  }

  // .order-product-list__footer
  &__footer {
    margin-top : 25px;
  }


}

.item-order-product-list {


  // .item-order-product-list--header
  &--header {
    font-weight : 500;

    > * {
      padding-bottom : 15px;
    }
  }

  // .item-order-product-list__image
  &__image {

  }

  // .item-order-product-list__info
  &__info {


  }

  // .item-order-product-list__name
  &__name {
    font-weight     : 500;
    display         : block;
    max-width       : 200px;
    padding-right   : 20px;
    text-decoration : none;

    &:active,
    &:focus,
    &:hover {

    }
  }

  // .item-order-product-list__props
  &__props {

  }

  // .item-order-product-list__qty
  &__qty {
    font-weight : 500;
    text-align  : center;

    > span {


    }


  }

  // .item-order-product-list__price
  &__price {
    font-weight : 500;


  }

  // .item-order-product-list__price-total
  &__price-total {
    font-weight : 500;
    text-align  : right;
  }
}

.props-item-order-product-list {
  max-width     : 240px;
  padding-right : 50px;

  // .props-item-order-product-list__item
  &__item {
  }
}

.prop-item-order-product-list {


  // .prop-item-order-product-list__name
  &__name {
  }

  // .prop-item-order-product-list__value
  &__value {
  }
}


.order-total-block {


  // .order-total-block__item
  &__item {
    display     : flex;
    align-items : center;

    &:not(:last-child) {

    }

    &:last-child {

    }

    // .order-total-block__item--right
    &--right {

    }

    // .order-total-block__row--vat
    &--vat {
      margin-top : 15px;

    }
  }

  // .order-total-block__title
  &__title {


    // .order-total-block__title--vat
    &--vat {

    }
  }

  // .order-total-block__value
  &__value {
    font-weight : 500;
    margin-left : 15px;


    // .order-total-block__value--big
    &--big {
      font-size      : 30px;
      font-weight    : bold;
      line-height    : 1.2666;
      letter-spacing : 0.05em;

    }

    // .order-total-block__value--vat
    &--vat {

    }
  }

  // .order-total-block__inner
  &__inner {


    // .order-total-block__inner--top
    &--top {
      display         : flex;
      justify-content : space-between;

    }

    // .order-total-block__inner--bottom
    &--bottom {
      display         : flex;
      justify-content : center;
      margin-top      : 45px;
    }

  }
}
