.order-page {
  // .order-page__product-list
  &__product-list {
  }
}

.order-product-list {
  font-size   : 14px;
  line-height : 1.29;
  width       : 1000px;
  position : relative;

  @media screen and (max-width : 1139px) {
    width : auto;
  }

  // .order-product-list__back
  &__back {
    font-size     : 12px;
    line-height   : 1.58;
    display       : none;
    flex          : 1 1 100%;
    margin-top    : -30px;
    margin-bottom : 30px;
    padding-top   : 7px;
    color         : #252b33;

    @media screen and (max-width : 767px) {
      display : block;
    }
  }

  // .order-product-list__inner
  &__inner {
    display    : table;
    width      : 100%;
    margin-top : 35px;

    @media screen and (max-width : 767px) {
      width            : calc(100% + 30px);
      margin-top       : 20px;
      margin-left      : -15px;
      padding          : 20px 15px;
      background-color : #fff;

    }
  }

  // .order-product-list__item
  &__item {
    display : table-row;

    @media screen and (max-width : 767px) {
      display       : block;
      border-bottom : none;
      border-bottom : 30px;
    }

    > * {
      display        : table-cell;
      padding        : 5px;
      vertical-align : middle;
      border-bottom  : 1px solid #e5e5e5;

      @media screen and (max-width : 767px) {
        display       : block;
        border-bottom : none;
      }
    }
  }

  // .order-product-list__header
  &__header {
    display     : flex;
    align-items : flex-end;
    flex-wrap   : wrap;
    position : relative;
  }


  // .order-product-list__title
  &__title {
    font-size   : 20px;
    font-weight : bold;
    line-height : 1;
    color       : #252b33;

    @media screen and (max-width : 560px) {
      width         : 100%;
      margin-bottom : 20px;
    }

  }


  // .order-product-list__status {
  &__status {
    margin-left : 30px;
    color       : #04914d;

    @media screen and (max-width : 560px) {
      margin-left : 0px;
    }
  }

  // .order-product-list__expected {
  &__expected {
    margin-left : 55px;

    > span {
      font-weight : 500;
    }

  }


  // .order-product-list__actions
  &__actions {
    display         : flex;
    justify-content : center;
    margin          : 30px -6px 0;

    @media screen and (max-width : 560px) {
      display : none;
    }
  }

  // .order-product-list__action
  &__action {
    margin : 0 6px;
  }

  // .order-product-list__footer
  &__footer {
    margin-top : 25px;
  }

  // .order-product-list__actions-2
  &__actions-2 {
    display: flex;
    margin-left: auto;
    position: absolute;
    right : 0;
    top : 20px;

    @media screen and (min-width : 561px) {
      display : none;
    }
  }

  // .order-product-list__btn
  &__btn {
  }

  // .order-product-list__copy-orders
  &__copy-orders {
  }

  // .order-product-list__pdf
  &__pdf {
  }


}

.item-order-product-list {

  @media screen and (max-width : 767px) {
    overflow     : hidden;
    padding-left : 50px;
  }


  // .item-order-product-list--header
  &--header {
    font-weight : 500;

    @media screen and (max-width : 767px) {
      display : none;
    }

    > * {
      padding-bottom : 15px;
    }
  }

  // .item-order-product-list__image
  &__image {

    @media screen and (max-width : 767px) {
      position : absolute;
      left     : 0;
    }

    img {
      @media screen and (max-width : 767px) {
        max-width : 51px;
      }
    }

  }

  // .item-order-product-list__info
  &__info {


  }

  // .item-order-product-list__name
  &__name {
    font-weight     : 500;
    display         : block;
    max-width       : 200px;
    padding-right   : 20px;
    text-decoration : none;

    @media screen and (max-width : 767px) {
      max-width : none;
    }

    &:active,
    &:focus,
    &:hover {

    }
  }

  // .item-order-product-list__props
  &__props {

  }

  // .item-order-product-list__qty
  &__qty {
    font-weight : 500;
    text-align  : center;

    @media screen and (max-width : 767px) {
      float      : left;
      width      : 50px;
      text-align : left;

      &::after {
        content : 'шт';
        display : inline-block;
      }
    }


  }

  // .item-order-product-list__price
  &__price {
    font-weight : 500;

    @media screen and (max-width : 992px) {
      display : none;
    }
  }

  // .item-order-product-list__price-total
  &__price-total {
    font-weight : 500;
    float       : left;
    text-align  : right;

    @media screen and (max-width : 767px) {
      &::after {
        content : '₽';
        display : inline-block;
      }
    }
  }
}

.props-item-order-product-list {
  max-width     : 240px;
  padding-right : 50px;

  @media screen and (max-width : 767px) {
    max-width     : none;
    padding-right : 0;
  }

  // .props-item-order-product-list__item
  &__item {

  }
}

.prop-item-order-product-list {


  // .prop-item-order-product-list__name
  &__name {
  }

  // .prop-item-order-product-list__value
  &__value {
  }
}


.order-total-block {


  // .order-total-block__item
  &__item {
    display     : flex;
    align-items : center;

    &:not(:last-child) {

    }

    &:last-child {

    }

    // .order-total-block__item--right
    &--right {

    }

    // .order-total-block__row--vat
    &--vat {
      margin-top : 15px;

    }
  }

  // .order-total-block__title
  &__title {


    // .order-total-block__title--vat
    &--vat {

    }
  }

  // .order-total-block__value
  &__value {
    font-weight : 500;
    margin-left : 15px;

    @media screen and (max-width : 767px) {
      margin-left : auto;
    }


    // .order-total-block__value--big
    &--big {
      font-size      : 30px;
      font-weight    : bold;
      line-height    : 1.2666;
      margin-left    : 30px;
      letter-spacing : 0.05em;

    }

    // .order-total-block__value--vat
    &--vat {

    }
  }

  // .order-total-block__inner
  &__inner {


    // .order-total-block__inner--top
    &--top {
      display         : flex;
      flex-wrap       : wrap;
      justify-content : space-between;

      > * {


        @media screen and (max-width : 767px) {
          flex          : 0 1 45%;
          margin-bottom : 5px;
        }
      }

    }

    // .order-total-block__inner--bottom
    &--bottom {
      display         : flex;
      justify-content : center;
      margin-top      : 45px;
    }

  }
}
