.payment-page {
  // .payment-page__icons
  &__icons {
    margin-bottom : 85px;
  }

  // .payment-page__content
  &__content {
  }

  // .payment-page__block
  &__block {
    max-width     : 850px;
    margin-bottom : 40px;
  }
}

.icons-payment {
  display         : flex;
  flex-wrap       : wrap;
  justify-content : center;

  // .icons-payment__item
  &__item {
    flex       : 0 1 200px;
    margin     : 0 70px;
    text-align : center;

    @media screen and (max-width : 992px) {
      margin : 0 30px 30px;
    }
    @media screen and (max-width : 767px) {
      flex : 1 1 auto;
    }
  }
}

.item-icon-payment {
  // .item-icon-payment__icon
  &__icon {
    display         : flex;
    align-self      : center;
    justify-content : center;
    width           : 100%;
    margin-bottom   : 10px;
  }

  // .item-icon-payment__title
  &__title {
    font-size   : 14px;
    line-height : 1.29;
  }
}


.payment-block {
  // .payment-block__title
  &__title {
    font-size   : 20px;
    font-weight : bold;
    line-height : 1.25;
    color       : #252b33;

  }

  // .payment-block__text
  &__text {
    font-size   : 14px;
    font-weight : normal;
    line-height : 1.29;
    margin-top  : 13px;

  }
}
