.table-orders {
  font-size       : 13px;
  font-weight     : normal;
  line-height     : 1.23;
  width           : 100%;
  margin-top      : 20px;
  border-collapse : collapse;

  @media screen and (max-width : 767px) {
    margin-top : 10px;
  }


  // .table-orders__item
  &__item,
  tr {
    cursor        : pointer;
    border-bottom : 1px solid #fff;

    @media screen and (max-width : 767px) {


      &:first-child {
        display : none;
      }
      &:nth-child(2) {
        border-top : 1px solid rgba(0, 0, 0, 0.25);
      }
    }
  }

  th {
    font-size   : 14px;
    font-weight : 500;
    line-height : 1.2857;
    padding     : 15px 15px 15px 15px;

    @media screen and (max-width : 992px) {
      padding : 15px 10px;
    }


  }

  td {
    padding : 18px 15px 18px 15px;

    @media screen and (max-width : 992px) {
      padding : 15px 10px;
    }

    @media screen and (max-width : 767px) {
      padding : 10px 0 0 0;
    }


    &:first-child {
      font-weight : bold;
    }

    &:last-child {
      text-align : right;
    }


  }


  // .table-orders__status
  &__status {

    // .table-orders__status--new
    &--new {
      color : #04914d;
    }

    // .table-orders__status--process
    &--process {
      color : #04914d;

    }

  }


  // .table-orders__actions
  &__actions {
    display         : flex;
    align-items     : flex-start;
    justify-content : flex-end;
  }
}

.personal-orders {
  max-width : 1060px;
  margin    : 0 auto 0;

  // .personal-orders__copy-orders
  &__copy-orders {
    flex-shrink : 0;
  }

  // .personal-orders__pdf
  &__pdf {
    flex-shrink : 0;
    margin-left : 20px;
  }

  // .personal-orders__table
  &__table {
    margin-top : 45px;

    @media screen and (max-width : 660px) {
      margin-top : 15px;
    }

  }

  // .personal-orders__header
  &__header {
  }
}


.item-personal-order {


  @media screen and (max-width : 767px) {
    display         : grid;
    padding         : 5px 0;
    grid-column-gap : 18px;
  }

  @media screen and (max-width : 560px) {
    grid-template-columns: 120px 50px 100px;
    grid-column-gap: 10px;
  }

  // .item-personal-order__title
  &__title {
    display : none;

    @media screen and (max-width : 767px) {
      display       : inline-block;
      margin-bottom : 5px;
    }
  }

  // .item-personal-order__number
  &__number {
    grid-column : 1 / 2;
    grid-row    : 1 / 2;
    @media screen and (max-width : 767px) {
      text-decoration : underline;
    }

  }

  // .item-personal-order__status
  &__status {
    grid-column : 2 / 3;
    grid-row    : 1 / 2;

    @media screen and (max-width : 767px) {
      text-align : right;
    }

  }

  // .item-personal-order__count
  &__count {
    grid-column : 1 / 2;
    grid-row    : 2 / 3;
  }

  // .item-personal-order__total
  &__total {
    grid-column : 2 / 3;
    grid-row    : 2 / 3;


    @media screen and (max-width : 767px) {
      text-align : right;
    }

    @media screen and (max-width : 560px) {
      text-align  : left;
      grid-column : 1 / 2;
      grid-row    : 3 / 4;
    }
    @media screen and (max-width : 360px) {
      margin-top : -25px;
    }
  }

  // .item-personal-order__expected
  &__expected {
    @media screen and (max-width : 767px) {
      display : none;
    }
  }

  // .item-personal-order__delivered
  &__delivered {
    grid-column : 3 / 4;
    grid-row    : 2 / 3;
    @media screen and (max-width : 767px) {
      text-align : right;
    }
  }

  // .item-personal-order__actions
  &__actions {
    grid-column : 3 / 4;
    grid-row    : 1 / 2;

    @media screen and (max-width : 767px) {
      position : relative;
      top      : -7px;
    }
  }

  // .item-personal-order__date
  &__date {
    @media screen and (max-width : 767px) {
      display : none;
    }
  }
}


.header-orders-table {
  display : flex;

  @media screen and (max-width : 660px) {
    display : block;
  }

  // .header-orders-table__title
  &__title {
    font-size    : 20px;
    font-weight  : bold;
    line-height  : 1.25;
    margin-right : 75px;
    color        : #252b33;
  }

  // .header-orders-table__filter
  &__filter {
    display : flex;

    @media screen and (max-width : 660px) {
      margin-top : 15px;
    }

  }
}


.filter-header-orders {
  // .filter-header-orders__item
  &__item {
    font-size       : 14px;
    font-weight     : 500;
    display         : inline-block;
    margin-right    : 25px;
    padding         : 0 3px;
    text-decoration : none;
    color           : #252b33;
    border-bottom   : 2px solid transparent;


    &.active {
      border-color : #005693;
    }
  }
}
