.personal-page {
  width            : 100vw;
  margin-bottom    : -60px;

  margin-left      : calc((100vw - #{$desktopWidth} + 30px) / -2);
  padding-bottom   : 60px;
  border-top       : 1px solid #c4c4c4;
  background-color : #f4f4f4;

  @media screen and (max-width : 1280px) {
    margin-left : -15px;
  }

  // .personal-page__inner
  &__inner {


  }

  // .personal-page__sidebar
  &__sidebar {
    margin-bottom : 90px;

    @media screen and (max-width : 767px) {
      margin-bottom : 30px;
    }

  }

  // .personal-page__content
  &__content {
    flex : 1 1 auto;
  }

  .item-form__field--text {
    background-color : #fff;
  }
}

.sidebar-personal {

  // .sidebar-personal__nav
  &__nav {
  }

  // .sidebar-personal__sidebar-personal-menu
  &__sidebar-personal-menu {


  }
}

.sidebar-personal-menu {
  display    : flex;

  @media screen and (max-width : 767px) {
    overflow-x : auto;
    padding-bottom: 15px;
  }


  // .sidebar-personal-menu__item
  &__item {
    margin : 0 50px 0 0;

    @media screen and (max-width : 1140px) {
      margin : 0 9px 0 0;
    }
  }

  // .sidebar-personal-menu__link
  &__link {
    font-size       : 14px;
    font-weight     : bold;
    line-height     : 1.2857;
    position        : relative;
    display         : block;
    padding         : 20px 60px;
    white-space     : nowrap;
    text-decoration : none;
    letter-spacing  : 0.1em;
    text-transform  : uppercase;
    color           : #252b33;

    @media screen and (max-width : 1140px) {
      padding : 20px 30px;
    }

    @media screen and (max-width : 767px) {
      font-size   : 13px;
      line-height : 1.2307;
    }

    &::after {
      content      : '';
      position     : absolute;
      bottom       : -13px;
      left         : 0;
      display      : block;
      border-width : 13px;
      border-style : solid;
      border-color : transparent;

    }


    // .sidebar-personal-menu__link--active
    &--active,
    &:active,
    &:focus,
    &:hover {
      text-decoration  : none;
      color            : #fff;
      background-color : #005693;

      &::after {
        border-left-color : #005693;
      }
    }
  }


}

.content-personal {
}
