.product {
  // .product__inner
  &__inner {
    display : flex;
  }

  // .product__images
  &__images {
    flex         : 0 0 627px;
    margin-right : 40px;
  }

  // .product__info
  &__info {
  }

  // .product__footer
  &__footer {
  }

  // .product__reviews
  &__reviews {
  }

  // .product__review-form
  &__review-form {
    max-width : 847px;
    margin-top : 40px;
  }
}

.images-product-wrapper {
  display : flex;
}

.images-product-thumbs {
  margin-left : 20px;


  // .images-product-thumbs__container
  &__container {
    overflow   : hidden;
    max-height : 500px;


  }


  // .images-product-thumbs__wrapper
  &__wrapper {
  }

  // .images-product-thumbs__slide
  &__slide {
    position        : relative;
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 197px;
    height          : 140px;
    cursor          : pointer;
    border          : 1px solid rgba(229, 229, 229, 0.6);
    overflow : hidden;



    & > img {
      max-height: 100%;
    }

  }

  // .images-product-thumbs__slide-3d
  &__slide-3d {
    font-size        : 12px;
    font-weight      : bold;
    line-height      : 1.5;
    position         : absolute;
    top              : 2px;
    left             : 2px;
    display          : flex;
    align-items      : center;
    padding          : 2px 5px;
    text-align       : center;
    text-decoration  : none;
    color            : #fff;
    background-color : #005693;

    &:active,
    &:focus,
    &:hover {
      color : #fff;
    }


  }

  // .images-product-thumbs__btn
  &__btn {


    // .images-product-thumbs__btn--next
    &--next {
      position    : relative;
      left        : 50%;
      margin-top  : 10px;
      margin-left : -6px;


    }

    // .images-product-thumbs__btn--prev
    &--prev {
      display : none;
    }


  }
}


.info-product {
  flex : 1 1 100%;

  // .info-product__props
  &__props {
    margin-bottom : 45px;

    @media screen and (max-width : 1023px) {
      margin-bottom : 30px;
    }

    @media screen and (max-width : 767px) {
      margin-bottom : 20px;
    }

  }

  // .info-product__params
  &__params {
  }

  // .info-product__links
  &__links {
    font-size       : 14px;
    line-height     : 1.29;
    display         : flex;
    justify-content : center;
    margin-top      : 86px;


  }

  // .info-product__catalog
  &__catalog {
    display     : flex;
    align-items : center;

    & > svg {
      flex-shrink  : 0;
      margin-right : 10px;

    }
  }


  // .info-product__stock-availability
  &__stock-availability {
    margin-top : 37px;
    text-align : center;

  }

  // .info-product__prices
  &__prices {
    margin-top : 25px;


  }

  // .info-product__actions
  &__actions {
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin-top      : 13px;


  }

  // .info-product__add-to-cart
  &__add-to-cart {
    padding : 20px 58px;
  }

}

.props-product {
  // .props-product__item
  &__item {
  }
}

.item-prop {
  font-size       : 14px;
  line-height     : 1.29;
  display         : flex;
  flex-wrap       : wrap;
  justify-content : space-between;


  &:not(:last-child) {
    margin-bottom : 2px;
  }

  // .item-prop__name
  &__name {
    flex : 0 0 50%;


  }

  // .item-prop__value
  &__value {
    flex : 0 0 50%;

    @media screen and (max-width : 767px) {
      display : block;
    }

  }
}

.item-param {
  display         : flex;
  flex-wrap       : wrap;
  justify-content : space-between;

  &:not(:last-child) {
    margin-bottom : 6px;
  }

  // .item-param__name
  &__name {
    flex : 0 0 50%;

    @media screen and (max-width : 767px) {
      flex-basis : 60%;
    }
  }

  // .item-param__value
  &__value {
    flex : 0 0 50%;

    @media screen and (max-width : 767px) {
      flex-basis : 40%;
    }
  }
}

.params-product {
  color : #54585d;

  // .params-product__item
  &__item {
  }
}

.stock-availability {
  font-size   : 14px;
  line-height : 1.29;


  // .stock-availability__qty
  &__qty {
    font-weight : bold;
    margin-left : 10px;


    // .stock-availability__qty--many
    &--many {
      color : #639f0e;
    }

    // .stock-availability__qty--few
    &--few {
      color : #e81414;
    }
  }
}

.prices-product {
  text-align : center;

  // .prices-product__price
  &__price {
    font-size      : 30px;
    font-weight    : bold;
    line-height    : 1.2666;
    letter-spacing : 0.05em;
  }
}

.price-product {
}


.images-product {
  display          : flex;
  align-items      : center;
  justify-content  : center;
  max-width        : 413px;
  max-height       : 470px;
  border           : 1px solid rgba(229, 229, 229, 0.6);
  background-color : #fff;


  // .images-product__container
  &__container {
    position     : relative;
    z-index      : 1;
    overflow     : hidden;
    margin-right : auto;
    margin-left  : auto;
    padding      : 0;
    list-style   : none;


  }

  // .images-product__wrapper

  &__wrapper {
    position            : relative;
    z-index             : 1;
    display             : flex;
    box-sizing          : content-box;
    width               : 100%;
    height              : 100%;
    transition-property : transform;

    @media screen and (max-width : 767px) {
      display     : flex;
      align-items : center;
      text-align  : center;
    }
  }

  // .images-product__slide
  &__slide {
    position            : relative;
    flex-shrink         : 0;
    width               : 100%;
    height              : 100%;
    transition-property : transform;
    text-align          : center;
    overflow : hidden;
    max-height: 100%;


    img {
      max-width      : 100%;
      max-height : 100%;


    }
  }
}


.reviews-list {
  // .reviews-list__title
  &__title {
    font-size      : 30px;
    font-weight    : bold;
    line-height    : 38px;
    letter-spacing : 0.05em;
    color          : #252b33;
  }

  // .reviews-list__inner
  &__inner {
    margin-top : 22px;
  }

  // .reviews-list__item
  &__item {
  }
}

.item-review {
  padding    : 18px 0;
  border-top : 1px solid #e5e5e5;

  &:last-child {
    border-bottom : 1px solid #e5e5e5;
  }

  // .item-review__header
  &__header {
    font-size   : 12px;
    font-weight : 500;
    line-height : 1.5;
    display     : flex;

  }

  // .item-review__date
  &__date {
    margin-right : 10px;
  }

  // .item-review__author
  &__author {
    font-weight : 700;

  }

  // .item-review__rate
  &__rate {
    margin-left : auto;
  }

  // .item-review__text
  &__text {
    margin-top : 15px;
  }
}

.rate-review {

  // .rate-review__inner
  &__inner {
    display : flex;
  }

  // .rate-review__item
  &__item {
    margin-left : 5px;

    > svg {
      fill: #C4C4C4;
    }

    // .rate-review__item--fill
    &--fill {
      > svg {
        fill: #E81414;
      }
    }
  }
}


.review-form {
  // .review-form__title
  &__title {
    font-size      : 30px;
    font-weight    : bold;
    line-height    : 38px;
    letter-spacing : 0.05em;
    color          : #252b33;
  }

  // .review-form__inner
  &__inner {
  }

  // .review-form__rating
  &__rating {
  }

  // .review-form__footer
  &__footer {
    max-width  : 420px;
    margin     : 0 auto;
    text-align : center;
  }

  // .review-form__btn
  &__btn {
    margin : 0 auto;
  }
}

.rating-form {
  // .rating-form__title
  &__title {
  }

  // .rating-form__inner
  &__inner {
  }

  // .rating-form__item
  &__item {
    // .rating-form__item--fill
    &--fill {
    }
  }
}
