.page {
  // .page__footer
  &__footer {
  }
}

.footer {
  color            : #fff;
  background-color : #222325;
  padding: 65px 0 95px ;

  a {
    color : #fff;
  }

  // .footer__top
  &__top {
    display         : flex;
    align-items : center;
  }

  // .footer__logo
  &__logo {
  }

  // .footer__menus
  &__menus {
    margin-left : 160px;
  }

  // .footer__nav
  &__nav {
  }

  // .footer__main-menu
  &__main-menu {
  }

  // .footer__bottom
  &__bottom {
    margin-top : 140px;
    display : flex;
  }

  // .footer__law
  &__law {
    margin-left : 293px;
  }

  // .footer__year
  &__year {
    margin-left : auto;
  }

  // .footer__dev
  &__dev {
    margin-left : 65px;
  }

  // .footer__phones
  &__phones {
    margin-left : 130px;
  }
  // .footer__phone
  &__phone {

    font-weight: bold;
    font-size: 13px;
    line-height: 1.2307;
  }
}


.bottom-menu {
  display : flex;


  // .bottom-menu__item
  &__item {
    margin : 0 50px 0 0;

    &:last-child {
      margin-right : 0;
    }
  }

  // .bottom-menu__link
  &__link {
    font-size       : 14px;
    font-weight     : 500;
    line-height     : 1.2857;
    text-decoration : none;

  }
}





.law-block {
  // .law-block__item
  &__item {
  }
}
