.footer {
  padding          : 65px 0 95px;
  color            : #fff;
  background-color : #222325;

  @media screen and (max-width : 1280px) {
    padding : 30px 0;
  }

  a {
    color : #fff;
  }

  // .footer__top
  &__top {
    display     : flex;
    align-items : center;
    flex-wrap   : wrap;


  }

  // .footer__logo
  &__logo {
  }

  // .footer__menus
  &__menus {
    margin-left : 160px;

    @media screen and (max-width : 1280px) {
      order       : 3;
      width       : 100%;
      margin-top  : 65px;
      margin-left : 11px;
    }

    @media screen and (max-width : 660px) {
      margin-top : 50px;
    }
  }

  // .footer__nav
  &__nav {
  }

  // .footer__main-menu
  &__main-menu {
  }

  // .footer__bottom
  &__bottom {
    display    : flex;
    margin-top : 140px;

    @media screen and (max-width : 992px) {
      margin-top : 100px;
    }

    @media screen and (max-width : 660px) {
      margin-top : 47px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  // .footer__law
  &__law {
    margin-left : 293px;

    @media screen and (max-width : 992px) {
      margin-left : 0;
    }

    @media screen and (max-width : 660px) {
      flex: 0 0 100%;
      margin-bottom : 35px;
    }
  }

  // .footer__year
  &__year {
    margin-left : auto;

    @media screen and (max-width : 660px) {
      margin-left : 0;
    }
  }

  // .footer__dev
  &__dev {
    margin-left : 65px;
  }

  // .footer__phones
  &__phones {
    display     : flex;
    margin-left : 170px;

    @media screen and (max-width : 1280px) {
      margin-left : auto;
    }

    @media screen and (max-width : 660px) {
      align-items    : flex-end;
      flex-direction : column;
    }

  }

  // .footer__phone
  &__phone {
    font-size       : 13px;
    font-weight     : bold;
    line-height     : 1.2307;
    text-decoration : none;
  }

  // .footer__phone-write-us
  &__phone-write-us {
    font-size            : 12px;
    line-height          : 1.25;
    display              : inline-block;
    margin-left          : 15px;
    color                : #fff;
    text-decoration-line : underline;

    @media screen and (min-width : 993px) {
      display : none;
    }

    @media screen and (max-width : 660px) {
      margin-top : 11px;
    }


    &:hover {
      text-decoration : none;
    }

  }
}


.bottom-menu {
  display : flex;

  @media screen and (max-width : 660px) {
    display : block;
  }

  // .bottom-menu__item
  &__item {
    margin : 0 50px 0 0;

    @media screen and (max-width : 660px) {
      margin : 0 0 19px 0;
    }

    &:last-child {
      margin: 0;
    }
  }

  // .bottom-menu__link
  &__link {
    font-size       : 14px;
    font-weight     : 500;
    line-height     : 1.2857;
    text-decoration : none;

  }
}


.law-block {
  // .law-block__item
  &__item {
  }
}
