.sidebar {
  margin-right : 60px;
  padding-top: 70px;

  // .sidebar__nav
  &__nav {
  }

  // .sidebar__sidebar-menu
  &__sidebar-menu {
  }
}

.sidebar-menu {
  a {
    text-decoration : none;
  }

  // .sidebar-menu__item
  &__item {
    // .sidebar-menu__item--has-submenu
    &--has-submenu {
    }
  }

  // .sidebar-menu__link
  &__link {
    font-size   : 15px;
    font-weight : 500;
    line-height : 1.2;
  }

  // .sidebar-menu__catalog-submenu
  &__catalog-submenu {
  }
}

.catalog-submenu {
  margin-left : 12px;
  // .catalog-submenu__item
  &__item {
  }

  // .catalog-submenu__link
  &__link {
    font-size   : 14px;
    line-height : 1.29;

    // .catalog-submenu__link--active
    &--active {
      color : #fff;
      background-color: #1568A4;
      padding : 9px 25px 9px 10px;

      &:hover {
        color : #fff;
      }

      &::after {
        content : '';
        position : absolute;
        right : 8px;
        top : 14px;
        width : 5px;
        height : 8px;
        background-image : url(../../img/svg/menu-arrow.svg);
      }
    }
  }

  // .catalog-submenu__catalog-submenu
  &__catalog-submenu {
  }
}

.catalog-subsubmenu {
  margin-left : 12px;

  // .catalog-subsubmenu__item
  &__item {
  }

  // .catalog-subsubmenu__link
  &__link {
    font-size   : 14px;
    line-height : 1.29;
    padding : 9px 25px 9px 10px;
    position : relative;

    // .catalog-subsubmenu__link--active
    &--active {
      color : #fff;
      background-color: #1568A4;

      &:hover {
        color : #fff;
      }

      &::after {
        content : '';
        position : absolute;
        right : 8px;
        top : 14px;
        width : 5px;
        height : 8px;
        background-image : url(../../img/svg/menu-arrow.svg);
      }
    }
  }
}
