<% var data = {
title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container container--has-sidebar">
  <%= _.template(require('./../includes/sidebar.html').default)(data) %>
  <div class="container__inner">

    <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
    <h1 class="page-content__title">Запасные части</h1>

    <div class="page-content__category category">

      <div class="category__inner">

        <div class="category__filters product-list-filters">
          <div class="product-list-filters__inner">
            <button class="product-list-filters-btn product-list-filters-btn">
              Развернуть фильтр
              <svg
                width="10"
                height="7">
                <use xlink:href="img/spritemap.svg#sprite-triangle-down"></use>
              </svg>
            </button>

            <div class="category__filters form-list-filters">
              <form class="form "
                    action="">

                <div class="form__inner">


                  <div class="form__content">


                    <div class="form__group group-form">

                      <div class="form__row">
                        <div class="form__col form__col--4">
                          <div class="form__item item-form">
                            <label class="item-form__label item-form__label--text">
                              <input

                                type="text"
                                class="item-form__field item-form__field--text">
                              <span class="item-form__name  item-form__name--text">Модель двигателя</span>
                            </label>
                          </div>
                        </div>
                        <div class="form__col form__col--4">
                          <div class="form__item item-form">
                            <label class="item-form__label item-form__label--text">
                              <input
                                type="text"
                                class="item-form__field item-form__field--text"
                                data-toggle="datepicker">
                              <span class="item-form__name  item-form__name--text">Дата выпуска</span>
                            </label>
                          </div>
                        </div>
                        <div class="form__col form__col--4">
                          <div class="form__item item-form">
                            <label class="item-form__label item-form__label--text">
                              <input

                                type="text"
                                class="item-form__field item-form__field--text">
                              <span class="item-form__name  item-form__name--text">Заводской номер</span>
                            </label>
                          </div>
                        </div>


                      </div>


                    </div>


                  </div>


                </div>
              </form>
            </div>


          </div>
        </div>


        <div class="category__catalog catalog-categories">
          <div class="catalog-categories__inner">
            <a href="category.html"
               class="catalog-categories__item item-category">
              <div class="item-category__image">
                <img src="uploads/item-category/9.png"
                     alt="">
              </div>
              <div class="item-category__title">Запчасти двигателя</div>
            </a>
            <a href="category.html"
               class="catalog-categories__item item-category">
              <div class="item-category__image">
                <img src="uploads/item-category/10.png"
                     alt="">
              </div>
              <div class="item-category__title">Запчасти системы питания</div>
            </a>
            <a href="category.html"
               class="catalog-categories__item item-category">
              <div class="item-category__image">
                <img src="uploads/item-category/11.png"
                     alt="">
              </div>
              <div class="item-category__title">Запчасти системы охлаждения</div>
            </a>
            <a href="category.html"
               class="catalog-categories__item item-category">
              <div class="item-category__image">
                <img src="uploads/item-category/12.png"
                     alt="">
              </div>
              <div class="item-category__title">Запчасти сцепления</div>
            </a>
            <a href="category.html"
               class="catalog-categories__item item-category">
              <div class="item-category__image">
                <img src="uploads/item-category/13.png"
                     alt="">
              </div>
              <div class="item-category__title">Запчасти коробки передач</div>
            </a>
            <a href="category.html"
               class="catalog-categories__item item-category">
              <div class="item-category__image">
                <img src="uploads/item-category/14.png"
                     alt="">
              </div>
              <div class="item-category__title">Электрооборудование</div>
            </a>
            <a href="category.html"
               class="catalog-categories__item item-category">
              <div class="item-category__image">
                <img src="uploads/item-category/15.png"
                     alt="">
              </div>
              <div class="item-category__title">Компрессор и его привод</div>
            </a>
            <a href="category.html"
               class="catalog-categories__item item-category">
              <div class="item-category__image">
                <img src="uploads/item-category/16.png"
                     alt="">
              </div>
              <div class="item-category__title">Крепежные изделия</div>
            </a>
          </div>
        </div>
      </div>


    </div>
  </div>


</div>

<%= _.template(require('./../includes/footer.html'). default)(data) %>
