<% var data = {
title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container container--has-sidebar">
  <%= _.template(require('./../includes/sidebar.html').default)(data) %>
  <div class="container__inner">

    <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
    <h1 class="page-content__title">Водяной насос</h1>

    <div class="page-content__category category">

      <div class="category__inner">

        <div class="category__filters product-list-filters">
          <div class="product-list-filters__inner">
            <button class="product-list-filters-btn product-list-filters-btn">
              Развернуть фильтр
              <svg
                width="10"
                height="7">
                <use xlink:href="img/spritemap.svg#sprite-triangle-down"></use>
              </svg>
            </button>

            <div class="category__filters form-list-filters">
              <form class="form "
                    action="">

                <div class="form__inner">


                  <div class="form__content">


                    <div class="form__group group-form">

                      <div class="form__row">
                        <div class="form__col form__col--4">
                          <div class="form__item item-form">
                            <label class="item-form__label item-form__label--text">
                              <input

                                type="text"
                                class="item-form__field item-form__field--text">
                              <span class="item-form__name  item-form__name--text">Модель двигателя</span>
                            </label>
                          </div>
                        </div>
                        <div class="form__col form__col--4">
                          <div class="form__item item-form">
                            <label class="item-form__label item-form__label--text">
                              <input
                                type="text"
                                class="item-form__field item-form__field--text">
                              <span class="item-form__name  item-form__name--text">Дата выпуска</span>
                            </label>
                          </div>
                        </div>
                        <div class="form__col form__col--4">
                          <div class="form__item item-form">
                            <label class="item-form__label item-form__label--text">
                              <input

                                type="text"
                                class="item-form__field item-form__field--text">
                              <span class="item-form__name  item-form__name--text">Заводской номер</span>
                            </label>
                          </div>
                        </div>



                      </div>


                    </div>


                  </div>


                </div>
              </form>
            </div>


          </div>
        </div>
        <div class="category__header">

          <div class="category__view product-list-view">
            <div class="product-list-view__count count-product-block">
              Показать по
              <button
                type="button"
                class="count-product-block__btn">12
              </button>
              <button
                type="button"
                class="count-product-block__btn">24
              </button>
            </div>
            <div class="product-list-view__type type-product-block">
              <a href="category--list.html"
                 type="button"
                 class="type-product-block__item btn--clear">
                <svg
                  width="16"
                  height="12">
                  <use xlink:href="img/spritemap.svg#sprite-type-product-block--list"></use>
                </svg>
              </a>
              <a href="category.html"
                 type="button"
                 class="type-product-block__item type-product-block__item--active btn--clear">
                <svg
                  width="17"
                  height="12">
                  <use xlink:href="img/spritemap.svg#sprite-type-product-block--tile"></use>
                </svg>
              </a>
            </div>

          </div>
        </div>


        <div class="category__list product-list">
          <div class="product-list__item item-product">
            <a href="product.html"
               title=""
               class="item-product__image">
              <img
                src="uploads/category/1.jpg"
                alt="">
            </a>
            <div class="item-product__info">
              <a
                href="product.html"
                class="item-product__name">
                Водяной насос 840.1307010-03
              </a>
              <div class="item-product__props props-item-product">

                <div class="props-item-product__item prop-item-product">
                  <span class="prop-item-product__name">Вес</span>
                  <span class="prop-item-product__value">18.86 кг</span>
                </div>
                <div class="props-item-product__item prop-item-product">
                  <span class="prop-item-product__name">(Д х Ш х В)</span>
                  <span class="prop-item-product__value">0.3 x 0.31 x 0.24 м</span>
                </div>


              </div>
            </div>

            <div class="item-product__footer">
              <div class="item-product__prices prices-item-product">
                <div class="prices-item-product__price">
                  19 290 ₽
                </div>
              </div>
              <button
                type="button"
                class="item-product__add-to-cart btn btn--fill btn--orange">
                Купить
              </button>

            </div>
          </div>
          <div class="product-list__item item-product">
            <a href="product.html"
               title=""
               class="item-product__image">
              <img
                src="uploads/category/1.jpg"
                alt="">
            </a>
            <div class="item-product__info">
              <a
                href="product.html"
                class="item-product__name">
                Водяной насос 840.1307010-03
              </a>
              <div class="item-product__props props-item-product">

                <div class="props-item-product__item prop-item-product">
                  <span class="prop-item-product__name">Вес</span>
                  <span class="prop-item-product__value">18.86 кг</span>
                </div>
                <div class="props-item-product__item prop-item-product">
                  <span class="prop-item-product__name">(Д х Ш х В)</span>
                  <span class="prop-item-product__value">0.3 x 0.31 x 0.24 м</span>
                </div>


              </div>
            </div>

            <div class="item-product__footer">
              <div class="item-product__prices prices-item-product">
                <div class="prices-item-product__price">
                  19 290 ₽
                </div>
              </div>
              <button
                type="button"
                class="item-product__add-to-cart btn btn--fill btn--orange">
                Купить
              </button>

            </div>
          </div>
          <div class="product-list__item item-product">
            <a href="product.html"
               title=""
               class="item-product__image">
              <img
                src="uploads/category/1.jpg"
                alt="">
            </a>
            <div class="item-product__info">
              <a
                href="product.html"
                class="item-product__name">
                Водяной насос 840.1307010-03
              </a>
              <div class="item-product__props props-item-product">

                <div class="props-item-product__item prop-item-product">
                  <span class="prop-item-product__name">Вес</span>
                  <span class="prop-item-product__value">18.86 кг</span>
                </div>
                <div class="props-item-product__item prop-item-product">
                  <span class="prop-item-product__name">(Д х Ш х В)</span>
                  <span class="prop-item-product__value">0.3 x 0.31 x 0.24 м</span>
                </div>


              </div>
            </div>

            <div class="item-product__footer">
              <div class="item-product__prices prices-item-product">
                <div class="prices-item-product__price">
                  19 290 ₽
                </div>
              </div>
              <button
                type="button"
                class="item-product__add-to-cart btn btn--fill btn--orange">
                Купить
              </button>

            </div>
          </div>
          <div class="product-list__item item-product">
            <a href="product.html"
               title=""
               class="item-product__image">
              <img
                src="uploads/category/1.jpg"
                alt="">
            </a>
            <div class="item-product__info">
              <a
                href="product.html"
                class="item-product__name">
                Водяной насос 840.1307010-03
              </a>
              <div class="item-product__props props-item-product">

                <div class="props-item-product__item prop-item-product">
                  <span class="prop-item-product__name">Вес</span>
                  <span class="prop-item-product__value">18.86 кг</span>
                </div>
                <div class="props-item-product__item prop-item-product">
                  <span class="prop-item-product__name">(Д х Ш х В)</span>
                  <span class="prop-item-product__value">0.3 x 0.31 x 0.24 м</span>
                </div>


              </div>
            </div>

            <div class="item-product__footer">
              <div class="item-product__prices prices-item-product">
                <div class="prices-item-product__price">
                  19 290 ₽
                </div>
              </div>
              <button
                type="button"
                class="item-product__add-to-cart btn btn--fill btn--orange">
                Купить
              </button>

            </div>
          </div>
          <div class="product-list__item item-product">
            <a href="product.html"
               title=""
               class="item-product__image">
              <img
                src="uploads/category/1.jpg"
                alt="">
            </a>
            <div class="item-product__info">
              <a
                href="product.html"
                class="item-product__name">
                Водяной насос 840.1307010-03
              </a>
              <div class="item-product__props props-item-product">

                <div class="props-item-product__item prop-item-product">
                  <span class="prop-item-product__name">Вес</span>
                  <span class="prop-item-product__value">18.86 кг</span>
                </div>
                <div class="props-item-product__item prop-item-product">
                  <span class="prop-item-product__name">(Д х Ш х В)</span>
                  <span class="prop-item-product__value">0.3 x 0.31 x 0.24 м</span>
                </div>


              </div>
            </div>

            <div class="item-product__footer">
              <div class="item-product__prices prices-item-product">
                <div class="prices-item-product__price">
                  19 290 ₽
                </div>
              </div>
              <button
                type="button"
                class="item-product__add-to-cart btn btn--fill btn--orange">
                Купить
              </button>

            </div>
          </div>
        </div>
        <div class="category__footer product-list-view product-list-view--footer">
          <div class="product-list-view__count count-product-block">
            Показать по
            <button
              type="button"
              class="count-product-block__btn">12
            </button>
            <button
              type="button"
              class="count-product-block__btn">24
            </button>
          </div>
          <div class="product-list-view__type type-product-block">
            <button
              type="button"
              class="type-product-block__item btn--clear">
              <svg
                width="16"
                height="12">
                <use xlink:href="img/spritemap.svg#sprite-type-product-block--list"></use>
              </svg>
            </button>
            <button
              type="button"
              class="type-product-block__item type-product-block__item--active btn--clear">
              <svg
                width="17"
                height="12">
                <use xlink:href="img/spritemap.svg#sprite-type-product-block--tile"></use>
              </svg>
            </button>
          </div>

        </div>
        <%= _.template(require('./../includes/pagination.html').default)(data) %>
      </div>


    </div>
  </div>


</div>

<%= _.template(require('./../includes/footer.html'). default)(data) %>
