<% var data = {
title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
  <div class="container__inner">

    <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
    <h1 class="page-content__title">Оплата</h1>

    <div class="page-content__payment payment-page">

      <div class="payment-page__icons icons-payment">
        <div class="icons-payment__item item-icon-payment">
          <div class="item-icon-payment__icon">
            <svg
              width="97"
              height="100">
              <use xlink:href="img/spritemap.svg#sprite-item-icon-payment-1"></use>
            </svg>
          </div>
          <div class="item-icon-payment__title">
            Удобные способы <br> оплаты
          </div>
        </div>
        <div class="icons-payment__item item-icon-payment">
          <div class="item-icon-payment__icon">
            <svg
              width="116"
              height="98">
              <use xlink:href="img/spritemap.svg#sprite-item-icon-payment-2"></use>
            </svg>
          </div>
          <div class="item-icon-payment__title">
            Работаем с физическими <br>
            и юридическими лицами
          </div>
        </div>
        <div class="icons-payment__item item-icon-payment">
          <div class="item-icon-payment__icon">
            <svg
              width="108"
              height="107">
              <use xlink:href="img/spritemap.svg#sprite-item-icon-payment-3"></use>
            </svg>
          </div>
          <div class="item-icon-payment__title">
            Гарантия возврата <br>
            денежных средств
          </div>
        </div>
      </div>

      <div class="payment-page__content">
        <div class="payment-page__block payment-block">
          <div class="payment-block__title">Наличный расчет</div>
          <div class="payment-block__text">
            <p>При доставке товара курьерской службой.</p>
            <p>В целях вашей безопасности рекомендуем использовать бесконтактные
              способы оплаты: онлайн на сайте или банковской картой при получении заказа.</p>
          </div>
        </div>
        <div class="payment-page__block payment-block">
          <div class="payment-block__title">Оплата банковской картой</div>
          <div class="payment-block__text">
            <p>
              При доставке товара курьерской службой <br>
              К оплате принимаем <br>
              MasterCard <br>
              Visa <br>
              МИР <br>
              Maestro <br>
              Visa Electron <br>
              AmericanExpress
            </p>

          </div>
        </div>
        <div class="payment-page__block payment-block">
          <div class="payment-block__title">Электронные способы оплаты через сайт</div>
          <div class="payment-block__text">
            <p>
              Электронные способы оплаты через сайт <br>
              К оплате принимаем <br>
            </p>
            <p>
              Карты оплаты Visa, MasterCard, МИР, JCB подробная информация об оплате QIWI <br>
              WebMoney <br>
              Яндекс.Деньги <br>
              Apple Pay <br>
              Samsung Pay <br>
              Google Pay <br>
              Сбербанк Онлайн <br>
            </p>

          </div>
        </div>
        <div class="payment-page__block payment-block">
          <div class="payment-block__title">Как оплатить заказ через сайт?</div>
          <div class="payment-block__text">
            <p>
              При оформлении заказа необходимо выбрать электронный способ оплаты. <br>
              После подтверждения заказа менеджером в личном кабинете на странице «Мои заказы» напротив оформленного заказа появится кнопка «Оплатить заказ». Для оплаты вы будете направлены на сайт платежной системы.
            </p>
          </div>
        </div>
        <div class="payment-page__block payment-block">
          <div class="payment-block__title">Безналичный расчет для юридических лиц</div>
          <div class="payment-block__text">
            <p> Если покупка совершается от юридического лица, оплата производится по счету, который выставляет менеджер интернет-магазина.
              <br>
              Важно! Срок оплаты счета – до 3 дней. Возможно продление периода оплаты счета. Для этого необходимо связаться с персональным менеджером.
              <br>
              Товар отгружается в течение суток после поступления денежных средств на счет интернет-магазина (исключение составляют случаи оформления товаров в статусе «Под заказ»).
              <br>
            </p>
            <p>
              При отгрузке продукции в регионы сроки доставки включают время доставки товара на наш склад (до 2 рабочих дней) и время доставки до транспортной компании. Далее сроки доставки зависят от условий ТК.
            </p>
            <p>
              По согласованию с менеджером, оформляющим заказ, для юридических лиц возможна оплата наличными. Порядок оплаты и условия доставки не меняются. Пакет документов тот же, что при безналичном расчете
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<%= _.template(require('./../includes/footer.html'). default)(data) %>
