<% var data = {
title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="container">
  <div class="container__inner">

    <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
    <h1 class="page-content__title">Гарантия</h1>

    <div class="page-content__warranty warranty-page">

      При обнаружении признаков неисправности владельцу необходимо:

      <p>
        Немедленно прекратить дальнейшую эксплуатацию силового агрегата/двигателя*. <br>
        Без задержек обратиться к ближайшему СЦ ПАО «Автодизель» (ЯМЗ) с гарантийной рекламацией, в которой необходимо указать:
      </p>
      <p>
        а) полное наименование организации, эксплуатирующей изделие; <br>

        б) почтовый адрес (область, район, почтовое отделение), контактный телефон, название ближайшей железнодорожной станции или пристани, код грузополучателя;
        <br>

        в) завод - изготовитель, тип и марку изделия, номер шасси, на которое установлен двигатель; <br>

        г) модель и номер силового агрегата (двигателя), номер топливного насоса, номер коробки передач, пробег изделия в километрах или наработку в часах;
        <br>

        д) условия выявления и возникновения отказа, характер, внешнее проявление, диагностические параметры несоответствия или отказа;
        <br>

        е) используемые эксплуатационные материалы; <br>

        ж) дату получения изделия, силового агрегата (двигателя). <br>

      </p>


      <p>
        Предъявить:
      </p>
      <p>
        а) «Сервисную книжку» (гарантийный талон, формуляр или документ их заменяющий), правильно заполненную и содержащую всю информацию о технике и о проведенных технических обслуживаниях;
        <br>

        б) «Свидетельство о регистрации транспортного средства» и/или другие документы, подтверждающие правомочность потребителя предъявлять гарантийную рекламацию;
        <br>

        в) гарантийное письмо, в котором потребитель обязуется возместить все расходы СЦ в случае признания рекламации необоснованной.
        <br>

      </p>


      Предъявить силовой агрегат/двигатель в составе техники для подтверждения наличия неисправности, попадающей под условия предоставления гарантии. При невозможности предъявить изделие, на которое установлен силовой агрегат/двигатель, необходимо обратиться к ближайшему СЦ ПАО «Автодизель» (ЯМЗ) для организации ремонта на месте, для чего выслать от имени владельца (собственника) изделия телеграфное или почтовое извещение/рекламацию.
      <br>
      При получении извещения/рекламации СЦ сообщает потребителю в однодневный срок порядок рассмотрения рекламации.
      <br>

      СЦ совместно с потребителем рассматривает рекламацию и оформляет акт-рекламацию. Рассмотрение рекламации (осмотр, демонтаж, разборка и т.п.), а также выезд специалиста по месту нахождения потребителя, проводится для потребителя бесплатно только в случае признания рекламации обоснованной.
      <br>

      В случае принятия рекламации по гарантии СЦ восстанавливает силовой агрегат, двигатель в минимальный разумный срок. Потребитель подписывает акт-рекламацию от имени владельца (собственника).
      <br>

      При возникновении разногласий между СЦ (или представителями ПАО «Автодизель» (ЯМЗ)) и потребителем, в акте рекламации отражается особое мнение несогласной стороны, и акт подписывается обеими сторонами. По запросу ПАО «Автодизель» (ЯМЗ) СЦ направляет запрашиваемые детали или узлы двигателя на исследование, по результатам которого принимается окончательное решение. Высылаемые на исследования детали и сборочные единицы собственнику не возвращаются только в случае их исследования разрушающим методом или признании рекламации обоснованной.
      <br>

      Примечание: Все риски, и затраты, связанные с неисправностями или поломками силового агрегата/двигателя в результате использования технически неисправного силового агрегата/ двигателя, несет владелец.
      <br>

    </div>
  </div>


</div>

<%= _.template(require('./../includes/footer.html'). default)(data) %>
